---
layout: site
title: Home
---

<div class="textImage" style=" background: url(images/g1/DSC_0867.jpg) 50% 50% / cover ;">
    <div class="filtergrey">
        <h1>ДЕТСКИЙ КЛУБ "А" И "Я"</h1>
    </div>
</div>
<br>

<div class="container departmentContainer">
    <div class="row">

        <div class="col-md-6">
            <div class="box bgc-1" style="color: #4A4A4A;background-color: rgba(255, 255, 255, 0);">

                <p>как быть с кипучей энергией и неуемной любознательностью малыша?</p>
                <p>как максимально использовать пытливость детского ума и подтолкнуть ребёнка к познанию мира? </p>
                <p>как способствовать развитию творческого начала ребёнка? </p>
                <p>эти и другие вопросы непременно встают перед родителями.</p>
                <p>ответы вам поможет найти детская экологическая лаборатория.<br> это прогулки и экскурсии, походы и путешествия, занятия, которые дарят ребёнку радостное удивление, пытливый анализ, первый окрыляющий успех естествоиспытателя. </p>
                <p>программа «экологическая лаборатория» – это занимательные опыты и наблюдения, исследовательская деятельность в области биологии, географии и экологии, воспитание здорового образа жизни. </p>
                <p>программа функционирует в составе 2 ступеней.</p>

                <p>на занятиях формируется у детей поисково – исследовательская деятельность, которая позволяет не только систематизировать и расширять имеющиеся представления об окружающей действительности, но и дает возможность детям через эксперимент взять на себя новые социальные роли: лаборанта, исследователя, «учёного».</p>
                <p>после окончания курса в центре проводится открытое занятие.</p>


            </div>
        </div>
        <div class="col-md-6">

            {% for boxes in site.data.laboratory %}
            {% for box in boxes%}
            <div class="col-md-12">
                <div class="box {{ box[1].background}}" style="min-height: 50px ">

                    {% for item in box[1].items %}
                    {% for i in item %}

                    {% if i[0] == 'h' %}
                    <h2 class="heading">{{ i[1] }}</h2>
                    {% endif %}

                    {% if i[0] == 'p' %}
                    <p>{{ i[1] }}</p>
                    {% endif %}

                    {% if i[0] == 'ul' %}
                    <ul>
                        {% for li in i[1] %}
                        <li>
                            {{ li }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>

</div>
