---
layout: site
title: Home
---

<div class="textImage" style=" background: url(images/g1/DSC_0867.jpg) 50% 50% / cover ;">
    <div class="filtergrey">
        <h1>ИЗОБРАЗИТЕЛЬНОЕ ИСКУССТВО </h1>
    </div>
</div>
<br>

<div class="container departmentContainer">
    <div class="row">

        <div class="col-md-7">
                          <p>несмотря на то, что ребёнок фальшиво поёт песни, и слуха у него нет; несмотря на то, что пианино некуда поставить, и бабушка не может возить ребёнка «на музыку»; несмотря на то, что ребёнку вообще некогда – английский, испанский, секция по плаванию, балет и прочее... </p>
                <p>есть веские причины всё это преодолеть и всё-таки учить музыке.</p>
                <p> эти причины должны знать современные родители:</p>
                <p>1.	играть – это следовать традиции. музыке учили всех аристократов: русских и европейских. </p>
                <p>2.	музыкальные занятия воспитывают волю и дисциплину. </p>
                <p>3.	занимаясь музыкой, ребёнок развивает математические способности. альберт эйнштейн играл на скрипке, а профессора физики и профессора математики оксфорда составляют 70% членов университетского музыкального клуба. </p>
                <p>4.	играющие и поющие лучше говорят и пишут, легче запоминают иностранные слова, быстрее усваивают грамматику. </p>
            <p>5.	 музыкальные занятия развивают навыки общения. </p>
        </div>
            <div class="col-md-5">

                <p class="blueHeadline">программа представляет собой оригинальную разработку системы развития музыкальных способностей детей от 1 года жизни до 15 лет. </p>
                <ul class="magisterList">
                <li> группа раннего музыкального развития для детей от 1 года до 3 лет</li>
                <li> младшая группа музыкального развития для детей от 3 до 5 лет</li>
                <li> «музыкальное искусство и игра на инструментах» для детей от 5 до 15 лет</li>
                <li> детский ансамбль мажореток -  барабанщиц для девочек 5-9 лет</li>
                </ul>
                <p>зачисление детей производится на основании заявления родителей. </p>
                <p>принимаются все желающие, без проведения приёмных испытаний.</p>



        </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="row">
            {% for boxes in site.data.music %}
            {% for box in boxes%}

            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}
            <div class="col-md-12">
                <div class="box {{ box[1].background}}" style="min-height: 50px ">

                    {% for item in box[1].items %}
                    {% for i in item %}

                    {% if i[0] == 'h' %}
                    <h2 class="heading">{{ i[1] }}</h2>
                    {% endif %}

                    {% if i[0] == 'p' %}
                    <p>{{ i[1] }}</p>
                    {% endif %}

                    {% if i[0] == 'ul' %}
                    <ul>
                        {% for li in i[1] %}
                        <li>
                            {{ li }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
                </div>
            </div>


            <div class="col-md-6">
                <div class="row">
                    {% for boxes in site.data.music %}
                    {% for box in boxes%}

                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                    {% if thecycle == 'even' %}
                    <div class="col-md-12">
                        <div class="box {{ box[1].background}}" style="min-height: 50px ">

                            {% for item in box[1].items %}
                            {% for i in item %}

                            {% if i[0] == 'h' %}
                            <h2 class="heading">{{ i[1] }}</h2>
                            {% endif %}

                            {% if i[0] == 'p' %}
                            <p>{{ i[1] }}</p>
                            {% endif %}

                            {% if i[0] == 'ul' %}
                            <ul>
                                {% for li in i[1] %}
                                <li>
                                    {{ li }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>


        </div>
</div>


