---
layout: site
title: Home
---

<div class="textImage" style=" background: url(images/g1/DSC_0292.jpg) 50% 50% / cover ;">
    <div class="filtergrey">
        <h1>ИЗОБРАЗИТЕЛЬНОЕ ИСКУССТВО </h1>
    </div>
</div>
<br>

<div class="container departmentContainer">
    <div class="row">

        <div class="col-md-6">
            <div class="box bgc-1" style="color: #4A4A4A;background-color: rgba(255, 255, 255, 0);">

                <p>Успешный человек в современном мире - это человек, умеющий креативно мыслить и нестандартно решать любые задачи.</p>

                <p>Как научиться этому? Учитесь рисовать!</p>

                <p>Человек, умеющий рисовать – это человек, умеющий мыслить и самостоятельно принимать решения!</p>

                <p>Программа «ИЗОБРАЗИТЕЛЬНОЕ ИСКУССТВО» – специальная методика развития творческих способностей.</p>

                <h4>
                    Основные предметы:
                </h4>
                <ul>
                    <li>
                        декоративно-прикладное искусство
                    </li>
                    <li>
                        лепка
                    </li>
                    <li>
                        рисунок
                    </li>
                    <li>
                        живопись
                    </li>
                    <li>
                        композиция
                    </li>
                    <li>
                        дизайн
                    </li>
                    <li>
                        история искусства
                    </li>
                    <li>
                        пленэр
                    </li>
                </ul>
                <p>Отделение изобразительного искусства - это центр творчества, настоящая учебная мастерская.</p>
                <p>Продолжительность учебного года 9 месяцев + 4 недели пленэра.</p>

                <p>Начало занятий – 7 сентября 2015 года.</p>

                <p>Количество детей в группе – 4-6 человек.</p>

                <ul>
                    <li>
                        При подаче заявлений необходимо иметь:
                    </li>

                    <li>
                        копию свидетельства о рождении (не заверяя)
                    </li>

                    <li>
                        заявление родителей
                    </li>
                </ul>

                <p>для поступающих с 4 лет – 2-3 рисунка на свободную тему.</p>

                <p>работы должны быть подписаны и уложены в папку.</p>

                <p>В течение года показателями результативности обучения станут выставки, вернисажи, конкурсы и фестивали.</p>

            </div>
        </div>
        <div class="col-md-6">

            {% for boxes in site.data.painting %}
            {% for box in boxes%}
            <div class="col-md-12">
                <div class="box {{ box[1].background}}" style="min-height: 50px ">

                    {% for item in box[1].items %}
                    {% for i in item %}

                    {% if i[0] == 'h' %}
                    <h2 class="heading">{{ i[1] }}</h2>
                    {% endif %}

                    {% if i[0] == 'p' %}
                    <p>{{ i[1] }}</p>
                    {% endif %}

                    {% if i[0] == 'ul' %}
                    <ul>
                        {% for li in i[1] %}
                        <li>
                            {{ li }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>

</div>
