---
layout: site
title: Home
---

<div class="textImage" style=" background: url(images/g1/DSC_0982.jpg) 50% 50% / cover ;">
    <div class="filtergrey">
        <h1>ДЕТСКИЕ ПРАЗДНИКИ И МАСТЕР-КЛАССЫ</h1>
    </div>
</div>
<br>

<div class="container departmentContainer">
    <div class="row">

        <div class="col-md-6">
            <div class="box bgc-1" style="color: #4A4A4A;background-color: rgba(255, 255, 255, 0);">


                <p>МАСТЕР КЛАСС НА ДЕТСКИЙ ДЕНЬ РОЖДЕНИЯ — ЭТО ТВОРЧЕСКАЯ АТМОСФЕРА, </p>
                <p>ЭТО ВОЛШЕБНЫЙ ПРАЗДНИК, КОТОРЫЙ ПОЛОН СМЕХА И ПРИЯТНЫХ СЮРПРИЗОВ</p>
                <p>У вашего ребёнка скоро день рождения и вам хочется, чтобы праздник получился особенным, чтобы сын или дочь запомнили этот день надолго?</p>
                <p>Мы предлагаем вам свой вариант ответа на вопрос!</p>
                <p>Это разнообразные мастер-классы для детей, которые не только приятны, но и полезны! </p>
                <ul class="partyList">
                <li>Это навыки живописи</li>
                <li>Это шитье и вязание, </li>
                <li>Это бисероплетение, </li>
                <li>Это уроки кулинарии, </li>
                <li>Это лепка поделок... </li>
                </ul>
                    <p>Ребёнок сможет показать всю свою фантазию и талант, а потом сохранить и показать свою поделку друзьям и близким. </p>
                <p>Все вкусности изготавливаются из качественных продуктов и без химических добавок, что обеспечит безопасность вашего ребёнка. А постоянное присутствие мастера сделает мастер-класс не только безопасным, но и поучительным.</p>
                <p>В копилке нашего центра лучшие мастер-классы для детей и их друзей, а также их родителей. </p>
                <p>Среди множества предложений вы наверняка найдёте то, которое устроит вас по всем характеристикам. </p>
                <p>Чтобы облегчить ваш выбор, мы разбили мастер-классы по возрастным категориям, так что вы легко и быстро сможете найти отличное занятие для вашего ребёнка. </p>
                <p>Помните о том, что информация на нашем сайте постоянно обновляется: мы стараемся расширять базу наших возможностей для творческого отдыха. </p>
                <p>ТВОРИТЬ ЛЕГКО... ЕСЛИ ВЫ ВМЕСТЕ С НАМИ!</p>
                <p>В стоимость мастер-класса входит работа педагога + подготовка расходных материалов. Стоимость зависит от выбранного мастер-класса и затрат на расходный материал.</p>
                <p>Возраст участников:	от 3 лет	</p>
                <p>Количество участников:	10-12 чел. – 1 педагог	</p>
                <p>Время проведения:	3 часа	</p>

            </div>
        </div>
        <div class="col-md-6">

            {% for boxes in site.data.parties %}
            {% for box in boxes%}
            <div class="col-md-12">
                <div class="box {{ box[1].background}}" style="min-height: 50px ">

                    {% for item in box[1].items %}
                    {% for i in item %}

                    {% if i[0] == 'h' %}
                    <h2 class="heading">{{ i[1] }}</h2>
                    {% endif %}

                    {% if i[0] == 'p' %}
                    <p>{{ i[1] }}</p>
                    {% endif %}

                    {% if i[0] == 'ul' %}
                    <ul>
                        {% for li in i[1] %}
                        <li>
                            {{ li }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>

</div>
