---
layout: site
title: Home
---

<div class="textImage" style=" background: url(images/g1/DSC_0867.jpg) 50% 50% / cover ;">
    <div class="filtergrey">
        <h1>ДЕТСКИЙ КЛУБ "А" И "Я"</h1>
    </div>
</div>
<br>

<div class="container departmentContainer">
    <div class="row">

        <div class="col-md-6">
            <div class="box bgc-1" style="color: #4A4A4A;background-color: rgba(255, 255, 255, 0);">
                <p>ваш голос — уникален. </p>
                <p>на планете земля нет второго такого же голоса, как ваш. </p>
                <p>педагоги отделения вокально-хорового искусства ценят это. </p>
                <p>цель педагогов отделения — максимально раскрыть природный голос, помочь детям и взрослым приобрести уверенность в исполнении.</p>
                <p>занятия по вокалу проходят по ведущим программам, которыми пользуются все мировые исполнители. это самые актуальные методики на данный момент, которые показали наибольшую эффективность в обучении вокалу. </p>
                <p>программы отделения</p>
                <h3>сольное пение</h3>
                <p>программа сольного пения – это курс, направленный на развитие сольных голосовых данных. </p>
                <h3>хоровое пение</h3>
                <p>для детей от 1 года жизни до 14 лет</p>
                <p>программа хорового пения – это семилетний курс обучения детей 7-14 лет, направленный на развитие хоровых и сольных голосовых данных. </p>
                <p>педагоги отделения – это квалифицированные специалисты с высшим и консерваторским музыкальным образованием.</p>
                <p>все они являются действующими музыкантами и имеют опыт преподавания.</p>
                <p>в программу входит посещение концертов, музеев и театров. </p>
                <p>в течение года показателями результативности обучения станут выступления детей на различных мероприятиях (концертах, праздниках, и т.д.).</p>
                <p>открыт набор в классы вокально-хорового искусства </p>
                <p>начало программы - 21 сентября 2015 года</p>



            </div>
        </div>
        <div class="col-md-6">

            {% for boxes in site.data.singing %}
            {% for box in boxes%}
            <div class="col-md-12">
                <div class="box {{ box[1].background}}" style="min-height: 50px ">

                    {% for item in box[1].items %}
                    {% for i in item %}

                    {% if i[0] == 'h' %}
                    <h2 class="heading">{{ i[1] }}</h2>
                    {% endif %}

                    {% if i[0] == 'p' %}
                    <p>{{ i[1] }}</p>
                    {% endif %}

                    {% if i[0] == 'ul' %}
                    <ul>
                        {% for li in i[1] %}
                        <li>
                            {{ li }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>

</div>

