
<div class="block">
  <div class="container post">
    <h2 class="block-title block-title--simple block-title--bottom-s block-title--top-large">ЦЕНТР РАЗВИТИЯ «ПЕРФЕКТ» ПРИВЕТСТВУЕТ ВАС!</h2>
    <h2 class="block-title editContent">
      Лучший способ сделать людей хорошими – сделать их счастливыми, поэтому к любому мы относимся с надеждой и ожиданием и верим в абсолютную ценность каждого!<span class="block-title-color bg-color"></span>
    </h2>
    <div class="image-container image-container--max post__image pull-left">
      <img alt="" src="images/portrait.jpg">
    </div>

    <div class="editContent">
      <p>ЧЕМ ОТЛИЧАЮТСЯ ЗАНЯТИЯ В ПЕРФЕКТЕ? ВСЕ КУРСЫ ПРОВОДЯТСЯ ПО РАЗВИВАЮЩЕЙ ПРОГРАММЕ «ШАГ ЗА ШАГОМ» («SCHRITT FÜR SCHRITT»).</p>
      <p>ПРОГРАММА «ШАГ ЗА ШАГОМ» РАЗРАБОТАНА СПЕЦИАЛЬНО ДЛЯ ТОГО, ЧТОБЫ УЧИТЬСЯ СТАЛО ЛЕГКО, ПРОСТО И КАЧЕСТВЕННО.</p>
      <p>СОТРУДНИКИ НАШЕГО ЦЕНТРА НЕОДНОКРАТНО СТАЛКИВАЛИСЬ С ТЕМ, ЧТО, ПРОЖИВАЯ ЗА РУБЕЖОМ, В ИНОЯЗЫЧНОЙ ЯЗЫКОВОЙ СРЕДЕ, РОДИТЕЛИ УЖЕ НЕ МОГУТ НАУЧИТЬ СВОЕГО РЕБЕНКА ГОВОРИТЬ ПО-РУССКИ. НЕ
        ПОЛУЧАЕТСЯ. НАША ПРОГРАММА ПРЕПОДАВАНИЯ КАРДИНАЛЬНО ОТЛИЧАЕТСЯ – ЭТО СПЕЦИАЛЬНАЯ МЕТОДИКА ОБУЧЕНИЮ РУССКОМУ ЯЗЫКУ ДЕТЕЙ-БИЛИНГВОВ.</p>
      <p>С ПОМОЩЬЮ ПРОГРАММЫ «ШАГ ЗА ШАГОМ» МЫ РАСКРЫВАЕМ ПРИРОДНЫЕ СПОСОБНОСТИ КАЖДОГО В МУЗЫКАЛЬНОЙ, ИЗОБРАЗИТЕЛЬНОЙ И ВОКАЛЬНОЙ ОБЛАСТЯХ.</p>
      <p>ПРИГЛАШАЕМ ДЕТЕЙ И ВЗРОСЛЫХ, ПРЕДЪЯВЛЯЮЩИХ ВЫСОКИЕ ТРЕБОВАНИЯ К УРОВНЮ И КАЧЕСТВУ РАЗВИТИЯ И ОБУЧЕНИЯ.</p>

    </div>
  </div>
</div>
<div class="block" id="blockquote">
  <div class="container">
    <blockquote class="blockquote blockquote--simple bg-color">
      <span class="editContent text">Каждый имеет право на развитие способностей и талантов!</span>
      <div class="clearfix"></div>
      <div class="blockquote__devider">
        <small class="blockquote__author editContent text-advanced"></small>
      </div>
    </blockquote>
  </div>
  <div data-brackets-id="1899" class="space"></div>
</div>