<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div id="toc" class="fixed"></div>
    </div>
    <div class="col-md-9 tocify-content">

      <img class="img-responsive padding-20" src="images/art2.jpg">


      <h2 class="heading">ОТДЕЛЕНИЕ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА</h2>
      <p>ПРОДОЛЖИТЕЛЬНОСТЬ - 120 часов (8 недель)</p>




      <p>НЕПРЕРЫВНОЕ РАЗВИТИЕ ИЗОБРАЗИТЕЛЬНОГО ТВОРЧЕСТВА ОТ 1 ГОДА ЖИЗНИ ДО 16 ЛЕТ</p>
      <p>УСПЕШНЫЙ ЧЕЛОВЕК В СОВРЕМЕННОМ МИРЕ - это человек, умеющий креативно мыслить и нестандартно решать любые задачи.</p>
      <p>Как научиться этому? Учитесь рисовать!</p>
      <p>ЧЕЛОВЕК, УМЕЮЩИЙ РИСОВАТЬ – ЭТО ЧЕЛОВЕК, УМЕЮЩИЙ МЫСЛИТЬ И САМОСТОЯТЕЛЬНО ПРИНИМАТЬ РЕШЕНИЯ!</p>
      <p>Занимаясь искусством или ремеслом, вы учитесь менять перспективу собственных взглядов, учитесь быстрее принимать решения, учитесь снимать стресс и отдыхать, учитесь передавать свои эмоции
        и рассказывать окружающим о своём настроении.</p>
      <p>Наша ПРОГРАММА непрерывного поэтапного развития делает акцент на раскрытие художественных способностей и развитии творческого воображения детей, взрослых. Соединяет искусство и мир
        представлений, искусство и мир чувств, отношение к добру и злу, прекрасному и безобразному, способствует художественному образованию личности.</p>
      <h2 class="heading">
        <i class="fa fa-paint-brush headingicon"></i>ГРУППА РАННЕГО РАЗВИТИЯ ОТ 1 ГОДА ДО 3 ЛЕТ
      </h2>
      <p>(принимаются дети в возрасте от 1 года до 3 лет)</p>
      <p>ГРУППА РАЗВИТИЯ ИЗОБРАЗИТЕЛЬНОГО ТВОРЧЕСТВА (ДЛЯ ДЕТЕЙ 3-5 ЛЕТ)</p>


      <h2 class="heading">
        <i class="fa fa-paint-brush headingicon"></i>КУРС «ИЗОБРАЗИТЕЛЬНОЕ ИСКУССТВО И ДИЗАЙН»
      </h2>

      <p>ПОДГОТОВИТЕЛЬНЫЙ КЛАСС (5-7 ЛЕТ)</p>
      <p>1 КЛАСС (7- 9 ЛЕТ)</p>
      <p>2 КЛАСС (9-12 ЛЕТ)</p>

      <h2 class="heading">
        <i class="fa fa-paint-brush headingicon"></i>КУРС ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА ДЛЯ ТИНЕЙДЖЕРОВ
      </h2>
      <p>(12 - 16 ЛЕТ)</p>

      <h2 class="heading">
        <i class="fa fa-paint-brush headingicon"></i>КУРС ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА ДЛЯ ПОСТУПАЮЩИХ
      </h2>

      <h2 class="heading">
        <i class="fa fa-paint-brush headingicon"></i>КУРС ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА «С НУЛЯ» ДЛЯ ВЗРОСЛЫХ
      </h2>

      <h2 class="heading">
        <i class="fa fa-paint-brush headingicon"></i>КУРС ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА ДЛЯ ТЕХ, КОМУ ЗА 60
      </h2>

      <p>ОТДЕЛЕНИЕ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА - это центр творчества, настоящая учебная мастерская, где каждый, кто тянется сердцем к изобразительному искусству, может осуществить свои самые
        дерзкие мечты. У нас Вы сможете не только освоить необходимые художнику азы, но и проявить свою индивидуальность. Мы поможем Вам раскрыться и стать настоящими мастерами.</p>
      <h2 class="heading">ОСНОВНЫЕ ПРЕДМЕТЫ</h2>


      <ul>
        <li>декоративно-прикладное искусство</li>
        <li>лепка</li>
        <li>рисунок</li>
        <li>живопись</li>
        <li>композиция</li>
        <li>дизайн история искусства пленэр</li>
      </ul>
      <p></p>
      <p>Продолжительность учебного года: 9 месяцев + 4 недели пленэра.</p>
      <p>В течение года показателями результативности обучения станут выставки, вернисажи, конкурсы и фестивали.</p>
      <p>ВСЕГДА ВЫИГРЫВАЕТ ТОТ, КТО РАЗВИВАЕТ В СЕБЕ ТВОРЧЕСКУЮ ЛИЧНОСТЬ!</p>
      <p>При подаче заявлений необходимо иметь:</p>
      <ul>
        <li>копию свидетельства о рождении (не заверяя)</li>
        <li>заявление родителей</li>
        <li>Для поступающих с 4 лет – 2-3 рисунка на свободную тему. Работы должны быть подписаны и уложены в папку.</li>
      </ul>
      <h2 style="display: none">Регистрация</h2>
      <p></p>
      <p>Начало занятий – 7 сентября 2015 года. Количество детей в группе – 4-6 человек.</p>


    </div>
  </div>
</div>