        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>ПЕРФЕКТ<span>центр развития</span></h3>

                <p class="footer-links">
                    <a href="#">Главная</a>
                    ·
                    <a href="#">Новости</a>
                    ·
                    <a href="#">Услуги</a>
                    ·
                    <a href="#">Расписание</a>
                    ·
                    <a href="#">Галерея</a>
                    ·
                    <a href="#">Правила</a>
                    ·
                    <a href="#">Контакт</a>
                    ·
                    <a href="#">Контакт</a>
                    ·
                    <a href="#">Контакт</a>
                </p>

                <p class="footer-company-name">P E R F E K T &copy; 2015</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Habsburgergasse 4/4</span> 1010 Wien, Österreich</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+43 676 421 6282</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:office@perfekt.at">office@zentrumperfekt.at</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span></span>
                    Центр "ПЕРФЕКТ" работает ежедневно с 9 до 21 ч., кроме воскресенья.
                </p>
    
                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>
