<!-- Colored divider -->
<div class="divider-color bottom-space--smaller"></div>

<!-- Footer section -->
<footer id="footer" class="footer footer--media footer--light">
  <div class="container">

    <div class="row">

      <!-- Latest post -->
      <div class="col-sm-4">
        <h3 class="heading-info">Дополнительная информация:</h3>
        <ul class="footer__list">
          <li><a href="site-map.html">Карта сайта</a></li>
          <li><a href="pricing-tables.html">Правила </a></li>
          <li><a href="support.html">Support</a></li>
          <li><a href="testimonials.html">Knowledge base</a></li>
        </ul>
      </div>
      <!-- end latest post -->

      <!-- Contact info about company -->
      <div class="col-sm-4">
        <h3 class="heading-info heading-info--mobile">Контактная информация:</h3>
        <!-- Contact information about company -->
        <address class="contact-info contact-info--list">
          <div class="row">
            <div class="col-xs-6 col-sm-12 one-column">
              <a href="http://maps.google.com/?q=Habsburger Gasse 4/4, Vienna 1010 Austria" class="contact-info__item" target="_blank"> <i class="fa fa-location-arrow"></i>
              Habsburgergasse 4/4, Vienna 1010 Austria
             
              </a> <a class="contact-info__item" href="tel://1-888-555-5555"> <i class="fa fa-mobile"></i> +1-888-555-5555 / +1-888-123-3535
              </a>
            </div>

            <div class="col-xs-6 col-sm-12 one-column">
              <a class="contact-info__item" href="mailto:info@allec.com,sales@allec.com?subject=Email from website"> <i class="fa fa-envelope"></i> info@allec.com / sales@allec.com
              </a> <a href="skype:allec-support?call" class="contact-info__item"> <i class="fa fa-skype"></i> allec-support
              </a>
            </div>
          </div>
        </address>
        <!-- end contact information -->
      </div>
      <!-- end contact info -->

      <!-- Social links -->
      <div class="col-sm-4">
        <h3 class="heading-info heading-info--mobile">Instagram feed:</h3>
        <div class="instagram-feed">
          <a class="media-follow" href="http://instagram.com/olechka_dumka#" target="_blank">follow</a>

          <iframe id="instagram" src="http://widget.websta.me/in/olechka_dumka/?s=68&w=5&h=2&b=0&p=0" allowtransparency="true" frameborder="0" scrolling="no"
            style="border: none; overflow: hidden; width: 380px; height: 136px"></iframe>
        </div>
      </div>
      <!-- end social links -->
    </div>
    <!-- end row -->

    <div class="copy">
      &copy; Allec, 2015. All rights reserved. Done by <a href="http://themeforest.net/user/olechka" target="_blank">Congruity Hub</a>
    </div>

  </div>
  <!-- end container -->
</footer>
<!-- end footer section -->

<div class="top-scroll"><i class="fa fa-angle-up"></i></div>