<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 col-sm-push-6">
      <h2> Title</h2>
      <p>
        Lorem ipsum dolor sit amet...
      </p>

    </div>
    <div class="col-sm-6 col-sm-pull-6 galleryOpenDiv openGallery1">
      <img class="galleryOpenImg openGallery1" src="images/hero.jpg" onclick="openPhotoSwipe()">

    </div>
  </div>

  <div class="col-sm-6">
    <h2> Title</h2>
    <p>
      Lorem ipsum dolor sit amet...
    </p>

  </div>
  <div class="col-sm-6 galleryOpenDiv openGallery1">
    <img class="galleryOpenImg openGallery1" src="images/hero.jpg" onclick="openPhotoSwipe()">

  </div>
</div>



{% include photoswipe.html %}