    <section class="bubble-header">
      <div id="large-header" class="large-header bg" src="images/uploads2/1/header2.jpg"
        style="height: 982px; outline-offset: -4px; background-image: url(images/header3.jpg); background-color: rgb(52, 73, 94); background-size: cover; background-position: 50% 50%; background-repeat: repeat;">
        <canvas id="demo-canvas" width="1128" height="982"></canvas>
        <div class="bubble-heade__content">
          <!--
                    <h2 class="main-title editContent">Allec Opens You New World</h2>
                    <div class="btn-container">
                        <a class="btn btn-info btn--decorated scroll-slide__btn" href="http://themeforest.net/item/allec-bootstrapless-template-with-page-builder/8986248#content">Purchase Now</a>
                    </div>
-->
        </div>
      </div>
    </section>