<div class="space"></div>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      {% include payment.html %}
      
      <div class="space"></div>
      <h2 class="heading-cascade heading-cascade--large heading-cascade--danger">
  <span class="heading-cascade__step"></span> ПРАВИЛА ВНУТРЕННЕГО РАСПОРЯДКА ЦЕНТРА
</h2>
      <a href="rules.html"> К правилам посещения центра...</a>
    </div>

    <div class="col-md-8">
      <div class="animated start-4 fadeInRighttart fadeInRight">
        <div class="row">{% include infotable.html %}</div>
      </div>
    </div>
  </div>
</div>
