
<div class="col-md-12">
  <table class="table table--vertical table-present">


    <tbody>
      <tr>
        <td class="vertical-heading">ЧАСЫ РАБОТЫ</td>
        <td><p>ПОНЕДЕЛЬНИК-ПЯТНИЦА 09:00 — 21:00</p>
          <p>СУББОТА 9.00 – 18.00</p></td>
      </tr>
      <tr>
        <td class="vertical-heading">СРОКИ РЕГИСТРАЦИИ И ОФОРМЛЕНИЯ НА КУРСЫ</td>
        <td><p>С 1 августа 2015</p></td>
      </tr>
      <tr>
        <td class="vertical-heading">НАЧАЛО ЗАНЯТИЙ</td>
        <td><p>7 - 14-го сентября 2015</p></td>
      </tr>
      <tr>
        <td class="vertical-heading">КОНЕЦ УЧЕБНОГО ГОДА</td>
        <td><p>30 июня 2016 года</p></td>
      </tr>
      <tr>
        <td class="vertical-heading">ОБУЧЕНИЕ</td>
        <td><div>Каждый курс состоит из двух семестров</div>
          <p></p>
          <p>зимнего (сентябрь – январь)</p>
          <p>летнего (февраль – июнь)</p></td>
      </tr>
      <tr>
        <td class="vertical-heading">КАНИКУЛЫ</td>
        <td><p>
            <b>рождественские каникулы</b>
          </p>
          <p>(примерно 2 недели: конец декабря – начало января)</p>
          <p>
            <b>семестровые каникулы</b> (1 неделя в феврале)
          </p>
          <p>
            <b>пасхальные каникулы </b>(примерно 10 дней в марте-апреле)
          </p>
          <p>
            <b>каникулы на Троицын день </b>(3 дня в мае)
          </p>
          <p>
            <b>государственные праздники Австрии</b>
          </p></td>
      </tr>
    </tbody>
  </table>

</div>

