<nav class="cd-nav-container" id="cd-nav">
    <header>
        <h3>Меню</h3>
        <a href="#0" class="cd-close-nav">Close</a>
    </header>

    <ul class="cd-nav">
        <li  data-menu="index">
            <a href="/index.html">
                <div style="padding-top: 10px">
                    {% include svg/svghome.html %}
					</div>

                <div style="color: white">Перфект</div>
            </a>
        </li>

        <li data-menu="projects">
            <a href="/departments.html">
                <div style="padding-top: 10px">
{% include svg/basic_pencil_ruler.svg %}
					</div>

                <div style="color: white">Услуги</div>
            </a>
        </li>

        <!--<li data-menu="team">-->
            <!--<a href="timetable.html">-->
					<!--<div>-->
<!--{% include svg/basic_calendar.svg %}-->
					<!--</div>-->

                <!--<div>Расписание</div>-->
            <!--</a>-->
        <!--</li>-->


        <li data-menu="careers">
            <a href="/gallery.html">
                <div style="padding-top: 10px">
{% include svg/basic_picture.svg %}
					</div>

                <div style="color: white">Коллекция</div>
            </a>
        </li>
        <li data-menu="contact">
            <a href="/contact.html">
                <div style="padding-top: 10px">
{% include svg/svgcontact.html %}
					</div>

                <div style="color: white">Контакт</div>
            </a>
        </li>
        <li data-menu="careers">
            <a href="/registration.html">
                <div style="padding-top: 10px">
{% include svg/basic_todolist_pen.svg %}
					</div>

                <div style="color: white">Регистрация <br> он-лайн</div>
            </a>
        </li>
    </ul>
    <!-- .cd-3d-nav -->
</nav>

<div class="cd-overlay"><!-- shadow layer visible when navigation is visible --></div>