<nav class="cd-nav-container" id="cd-nav">
    <header>
        <h3>Navigation</h3>
        <a href="#0" class="cd-close-nav">Close</a>
    </header>

    <ul class="cd-nav">
        <li class="cd-selected" data-menu="index">
            <a href="index.html">
					<span>
					</span>

                <em>Перфект</em>
            </a>
        </li>

        <li data-menu="projects">
            <a href="departments.html">
					<span>
					</span>

                <em>Услуги</em>
            </a>
        </li>

        <li data-menu="team">
            <a href="timetable.html">
					<span>
					</span>

                <em>Расписание</em>
            </a>
        </li>


        <li data-menu="careers">
            <a href="gallery.html">
                <span>
					</span>

                <em>Галерея</em>
            </a>
        </li>
        <li data-menu="contact">
            <a href="contact.html">
					<span>
					</span>

                <em>Контакт</em>
            </a>
        </li>
        <li data-menu="careers">
            <a href="registration.html">
                <span>
					</span>

                <em>Регистрация <br> он-лайн</em>
            </a>
        </li>
    </ul>
    <!-- .cd-3d-nav -->
</nav>

<div class="cd-overlay"><!-- shadow layer visible when navigation is visible --></div>