
<h2 class="heading-cascade heading-cascade--large heading-cascade--danger">
  <span class="heading-cascade__step"></span> ФОРМА ОПЛАТЫ
</h2>

<p>
  <i class="fa fa-university headingicon"></i>Прямое платёжное поручение
</p>

<p>Ежемесячная плата за обучение вносится в начале каждого месяца путём списания указанной суммы с банковского счета.</p>
<p>
  <i class="fa fa-credit-card headingicon"></i>Внесение семестровой платы за обучение с карты банкомата в офисе центра
</p>
<p>
  <i class="fa fa-money headingicon"></i> Внесение семестровой платы за обучение наличными в офисе центра Расторжение договора Расторжение договора со школой производится за четыре недели до
  прекращения обучения в письменной форме или по электронной почте. В противном случае оплата обучения будет автоматически продолжена.
</p>