<div class="textImage" style=" background: url(images/reg.jpg) 50% 76% / cover ;">
    <div class="filtergrey">
        <h1>Регистрация он-лайн </h1>
    </div>
</div>

<div class="contactSection">
    <div class="container">
        <h1 class="title text-center" id="contactHeadline"></h1>

        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="contactContent">
                    <div class=" ">
                        <p>Развивающие программы не только для детей…</p>
                        <p>«ПЕРФЕКТ» - это широкий спектр развивающих и адаптационных программ для детей от 1 года жизни, подростков и родителей, взрослых людей.</p>
                        <p>Чем отличаются занятия в ПЕРФЕКТЕ? </p>
                        <p>Все курсы проводятся по развивающей программе «ШАГ ЗА ШАГОМ» («SCHRITT FÜR SCHRITT»). </p>
                        <p>Увлекательные занятия направлены на развитие способностей и талантов каждого.</p>
                        <p>Занятия ведут дипломированные специалисты в области лингвистики, музыкального и изобразительного искусства.</p>
                        <p>Приглашаем детей и взрослых, предъявляющих высокие требования к уровню и качеству развивающего обучения.</p>
                        <p>Лучший способ сделать людей хорошими – сделать их счастливыми, поэтому к любому мы относимся с надеждой и ожиданием и верим в абсолютную ценность каждого.</p>
                        <div class="signature">
                        <p>Директор центра</p>
                        <p>Татаренко Ирина </p>
                        </div>
                        <p>доктор наук, член европейского совета по высоким способностям</p>
                    </div>

                    <!-- <ul class="social-links">
                    <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="skype">
                    <a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
                    </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-6">
                {% include registrationForm.html %}
            </div>
        </div>
    </div>
</div>
