<div class="footer-content">
    <form role="form" id="contact" name="contact" method="post">
        <div class="form-group has-feedback">
            <label class="sr-only" for="name">фамилия и имя</label>
            <input type="text" class="form-control" id="name" placeholder="фамилия и имя" name="name">
            <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">

            <label class="sr-only" for="birthDate">дата рождения</label>
            <input id="datepicker" type="text" class="form-control" id="birthDate" placeholder="дата рождения" name="birthDate">
            <i class="fa fa-calendar  form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="languages">владение языками</label>
            <input type="text" class="form-control" id="languages" placeholder="владение языками" name="languages">
            <i class="fa fa-language form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="parentsName">фамилия и имя родителей (для детей до 16 лет)</label>
            <input type="text" class="form-control" id="parentsName" placeholder="фамилия и имя родителей (для детей до 16 лет)" name="parentsName">
            <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="address">адрес проживания</label>
            <input type="text" class="form-control" id="address" placeholder="адрес проживания" name="address">
            <i class="fa fa-map-marker form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="telephone">контактный телефон</label>
            <input type="text" class="form-control" id="telephone" placeholder="контактный телефон" name="telephone">
            <i class="fa fa-phone form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="programs">выбранный курс (программа)</label>
            <select class="form-control align-left" id="programs" name="programs[]" placeholder="выбранный курс (программа)" multiple="multiple">
                {% for department in site.data.programs %}

                <option value="{{ department.key }}">{{ department.key }}</option>
                {% endfor %}
            </select>
            <i class="fa fa-graduation-cap form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="email">электронный адрес</label>
            <input type="email" class="form-control" id="email" placeholder="электронный адрес" name="email">
            <i class="fa fa-envelope form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="sr-only" for="message">пожелания</label>
            <textarea class="form-control" rows="8" id="message" placeholder="пожелания" name="message"></textarea>
            <i class="fa fa-pencil form-control-feedback"></i>
        </div>
        <input type="submit" value="Отправить" class="btn btn-default" name="submit">
    </form>

    <div id="success">
  <span>
    <p>Ваше сообщение было успешно отправлено! Мы свяжемся с Вами в ближайшее время.</p>
  </span>
    </div>

    <div id="error">
  <span>
    <p>При отправке сообщения произошла ошибка, пожалуйста, попробуйте отправить Ваше сообщение снова!</p>
  </span></div>
</div>