<div class="textImage" style=" background: url(images/g1/DSC_0561.jpg) 50% 0px / cover ;">
    <div class="filtergrey">
        <h1>Регистрация он-лайн </h1>
    </div>
</div>

<div class="contactSection">
    <div class="container">
        <h1 class="title text-center" id="contactHeadline"></h1>

        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="contactContent">
                    <div class=" ">
                    <p>Чем отличаются занятия в "ПЕРФЕКТЕ"? Все курсы проводятся по развивающей программе «ШАГ ЗА ШАГОМ» («SCHRITT FÜR SCHRITT»).</p>
                    <p>Программа «ШАГ ЗА ШАГОМ» разработана специально для того, чтобы учиться стало легко, просто и качественно.</p>
                    <p>Сотрудники нашего центра неоднократно сталкивались с тем, что, проживая за рубежом, в иноязычной языковой среде, родители уже не могут научить своего ребенка говорить по-русски. Не
                        получается. Наша программа преподавания кардинально отличается – это специальная методика обучению русскому языку детей-билингвов.</p>
                    <p>С помощью программы «ШАГ ЗА ШАГОМ» мы раскрываем природные способности каждого в музыкальной, изобразительной и вокальной областях.</p>
                    <p><em>Приглашаем детей и взрослых, предъявляющих высокие требования к уровню и качеству развития и обучения!</em></p>
                    </div>

                    <!-- <ul class="social-links">
                    <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="skype">
                    <a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
                    </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-6">
                {% include registrationForm.html %}
            </div>
        </div>
    </div>
</div>
