<div class="textImage" style=" background: url(images/g1/DSC_0561.jpg) 50% 0px / cover ;">
    <div class="filtergrey">
        <h1>Регистрация он-лайн </h1>
    </div>
</div>

<div class="contactSection">
    <div class="container">
        <h1 class="title text-center" id="contactHeadline"></h1>

        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="contactContent">
                    <div class=" ">
                        <p>развивающие программы не только для детей…</p>
                        <p>«перфект» - это широкий спектр развивающих и адаптационных программ для детей от 1 года жизни, подростков и родителей, взрослых людей.</p>
                        <p>чем отличаются занятия в перфекте? </p>
                        <p>все курсы проводятся по развивающей программе «шаг за шагом» («schritt für schritt»). </p>
                        <p>увлекательные занятия направлены на развитие способностей и талантов каждого.</p>
                        <p>занятия ведут дипломированные специалисты в области лингвистики, музыкального и изобразительного искусства.</p>
                        <p>приглашаем детей и взрослых, предъявляющих высокие требования к уровню и качеству развивающего обучения.</p>
                        <p>лучший способ сделать людей хорошими – сделать их счастливыми, поэтому к любому мы относимся с надеждой и ожиданием и верим в абсолютную ценность каждого.</p>
                        <div class="signature">
                        <p>директор центра</p>
                        <p>татаренко ирина </p>
                        </div>
                        <p>доктор наук, член европейского совета по высоким способностям</p>
                    </div>

                    <!-- <ul class="social-links">
                    <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="skype">
                    <a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
                    </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-6">
                {% include registrationForm.html %}
            </div>
        </div>
    </div>
</div>
