


<div class="space"></div>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">


      <h2 class="heading-cascade heading-cascade--large heading-cascade--danger">
        <span class="heading-cascade__step"></span> ПРАВИЛА ВНУТРЕННЕГО РАСПОРЯДКА ЦЕНТРА
      </h2>

      <p>МЫ ОБЯЗАНЫ ПРЕДОСТАВИТЬ ЭМОЦИОНАЛЬНУЮ СТАБИЛЬНОСТЬ ВО ВРЕМЯ ЗАНЯТИЙ, А ТАКЖЕ ЗАЩИТИТЬ ПРАВО ПЕДАГОГОВ ПОЛНОЦЕННО ПРОВОДИТЬ ЗАНЯТИЯ БЕЗ ПОСТОРОННЕГО ВМЕШАТЕЛЬСТВА ДЛЯ ПОЛУЧЕНИЯ НАИЛУЧШЕГО
        РЕЗУЛЬТАТА В СООТВЕТСТВИИ С ВЫБРАННОЙ ЦЕНТРОМ МЕТОДИКОЙ. ПОЭТОМУ ВО ИЗБЕЖАНИЕ КАКИХ-ЛИБО НЕДОРАЗУМЕНИЙ ПРОСИМ ВАС ПРИДЕРЖИВАТЬСЯ НИЖЕ ИЗЛОЖЕННЫХ ПРАВИЛ.</p>

      <p>ДЕТСКИЕ ГРУППЫ КОМПЛЕКТУЮТСЯ</p>

      <p>
        <i class="fa fa-graduation-cap"></i> по возрасту (+/- несколько месяцев)
      </p>
      <p>
        <i class="fa fa-graduation-cap"></i> уровню подготовки
      </p>
      <p>
        <i class="fa fa-graduation-cap"></i> по желанию родителей
      </p>


      <p>К ПЕДАГОГАМ ЦЕНТРА НЕЗАВИСИМО ОТ ИХ ВОЗРАСТА НЕОБХОДИМО ОБРАЩАТЬСЯ ПО ИМЕНИ И НА «ВЫ».</p>
      <p>РОДИТЕЛИ ОБЯЗАНЫ ПРЕДОСТАВИТЬ КООРДИНАТОРУ ЦЕНТРА ПОЛНУЮ ИНФОРМАЦИЮ О СОСТОЯНИИ ЗДОРОВЬЯ РЕБЁНКА (НАЛИЧИЕ ДИАГНОЗОВ, ПРИНЯТИЕ ПРЕПАРАТОВ, ПРОХОЖДЕНИЕ ЛЕЧЕНИЯ У МЕДИЦИНСКИХ СПЕЦИАЛИСТОВ И
        Т.П.) ВО ИЗБЕЖАНИЕ НЕДОРАЗУМЕНИЙ В ПРОЦЕССЕ ОБУЧЕНИЯ.</p>









      <p>ДЛЯ ДОСТИЖЕНИЯ НАИЛУЧШИХ РЕЗУЛЬТАТОВ СООБЩАЙТЕ ПЕДАГОГУ ИНДИВИДУАЛЬНЫЕ ОСОБЕННОСТИ РЕБЕНКА, ЧЕРТЫ ЕГО ХАРАКТЕРА И ПРЕДПОЧТЕНИЯ.</p>
      <p>ГРУППОВЫЕ ЗАНЯТИЯ ПРОВОДЯТСЯ СОГЛАСНО РАСПИСАНИЮ (ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ), ДЕТИ ДО 2-Х ЛЕТ - В СОПРОВОЖДЕНИИ ВЗРОСЛОГО.</p>
      <p>ЗА ПРОПУЩЕННЫЕ ПО УВАЖИТЕЛЬНОЙ ПРИЧИНЕ ЗАНЯТИЯ ПРЕДОСТАВЛЯЕТСЯ ВОЗМОЖНОСТЬ ИЗУЧЕНИЯ ПРОПУЩЕННОГО УЧЕБНОГО МАТЕРИАЛА С ДЕТЬМИ ДРУГОЙ ГРУППЫ ИЛИ ИНДИВИДУАЛЬНО.</p>
      <p>ВРЕМЯ ИНДИВИДУАЛЬНЫХ КОНСУЛЬТАЦИЙ СОГЛАСОВЫВАЕТСЯ С ПЕДАГОГОМ.</p>
      <p>НА ЗАНЯТИЯ ДЕТИ ДОЛЖНЫ ПРИХОДИТЬ ЧИСТЫМИ, ОПРЯТНО ОДЕТЫМИ, ИМЕТЬ ПРИ СЕБЕ НОСОВОЙ ПЛАТОЧЕК; ВЛАЖНЫЕ САЛФЕТКИ, ОБЯЗАТЕЛЬНО В СМЕННОЙ ОБУВИ.</p>
      <p>НЕ РАЗРЕШАЕТСЯ ДАВАТЬ РЕБЁНКУ НА ЭТО ВРЕМЯ КОНФЕТЫ, ПЕЧЕНЬЕ ИЛИ ГАЗИРОВАННЫЕ НАПИТКИ (ЕСЛИ НЕТ ДЛЯ ЭТОГО ПОВОДА — НАПРИМЕР, ДНЯ РОЖДЕНИЯ РЕБЕНКА). ЖЕВАТЕЛЬНАЯ РЕЗИНКА ВО ВРЕМЯ ЗАНЯТИЙ —
        НЕДОПУСТИМА.</p>
      <p>ПРОСИМ ВАС ПРОСЛЕДИТЬ, ЧТОБЫ В КАРМАНАХ РЕБЕНКА НЕ БЫЛО ОСТРЫХ, РЕЖУЩИХ И КОЛЮЩИХ ПРЕДМЕТОВ.</p>
      <p>В ГРУППЕ ДЕТЯМ НЕ РАЗРЕШАЕТСЯ БИТЬ И ОБИЖАТЬ ДРУГ ДРУГА; ПОРТИТЬ И ЛОМАТЬ РЕЗУЛЬТАТЫ ТРУДА ДРУГИХ ДЕТЕЙ. ДЕТЯМ НЕ РАЗРЕШАЕТСЯ «ДАВАТЬ СДАЧИ», ТАК ЖЕ, КАК И НАПАДАТЬ ДРУГ НА ДРУГА. ЭТО
        ТРЕБОВАНИЕ ПРОДИКТОВАНО НЕ ТОЛЬКО ЭТИКОЙ ПОВЕДЕНИЯ, НО И СООБРАЖЕНИЯМИ БЕЗОПАСНОСТИ КАЖДОГО РЕБЁНКА.</p>
      <p>ПРИ НЕАДЕКВАТНОМ ПОВЕДЕНИИ РЕБЕНКА (ПОСТОЯННЫЙ КРИК, АГРЕССИВНЫЕ ДЕЙСТВИЯ В ОТНОШЕНИИ ДРУГИХ ДЕТЕЙ) РЕБЕНОК ИСКЛЮЧАЕТСЯ ИЗ ЦЕНТРА.</p>
      <p>ПРИ ОПОЗДАНИИ БОЛЬШЕ ЧЕМ НА 15 МИНУТ ДЕТИ НА ЗАНЯТИЯ НЕ ДОПУСКАЮТСЯ ВО ИЗБЕЖАНИЕ НАРУШЕНИЯ СТРУКТУРЫ ЗАНЯТИЯ И ЕГО ЭМОЦИОНАЛЬНОГО СОДЕРЖАНИЯ. ИСКЛЮЧЕНИЕ СОСТАВЛЯЮТ ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ.
        ПРИ ОПОЗДАНИИ НА ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ ИХ ВРЕМЯ НЕ ПРОДЛЕВАЕТСЯ.</p>
      <p>НА ЗАНЯТИЯХ ДЕТИ НАХОДЯТСЯ БЕЗ РОДИТЕЛЕЙ ЗА ИСКЛЮЧЕНИЕМ РАЗВИВАЮЩИХ ЗАНЯТИЙ ДЛЯ МАЛЫШЕЙ (С 1 ДО 3-Х ЛЕТ), ГДЕ ПРЕДПОЛАГАЕТСЯ СОВМЕСТНАЯ РАБОТА ВЗРОСЛОГО И РЕБЕНКА. ИСКЛЮЧЕНИЕМ ТАКЖЕ
        ЯВЛЯЮТСЯ ИНДИВИДУАЛЬНЫЕ КОНСУЛЬТАЦИИ, ГДЕ ПРИСУТСТВИЕ РОДИТЕЛЯ НЕОБХОДИМО. В СИТУАЦИИ, КОГДА РЕБЁНОК БОИТСЯ ОСТАВАТЬСЯ БЕЗ РОДИТЕЛЯ ВО ВРЕМЯ ПЕРВИЧНОГО ЗАНЯТИЯ, ДОПУСКАЕТСЯ ПРИСУТСТВИЕ
        РОДИТЕЛЯ.</p>
      <p>ВО ВРЕМЯ ЗАНЯТИЯ НЕЛЬЗЯ ЗАГЛЯДЫВАТЬ В КАБИНЕТ, ОТВЛЕКАТЬ ДЕТЕЙ И ПЕДАГОГОВ. ПЕДАГОГИ ГОТОВЫ БЕСЕДОВАТЬ С ВАМИ О ВАШЕМ РЕБЁНКЕ ДО НАЧАЛА ЗАНЯТИЯ, В ПЕРЕРЫВЕ ИЛИ ПОСЛЕ ОКОНЧАНИЯ ЗАНЯТИЯ.
        В ДРУГОЕ ВРЕМЯ ПЕДАГОГ ОБЯЗАН РАБОТАТЬ С ГРУППОЙ ДЕТЕЙ И ОТВЛЕКАТЬ ЕГО НЕЛЬЗЯ.</p>
      <p>РОДИТЕЛЯМ ПРИ ЗАБОЛЕВАНИИ РЕБЕНКА ДАЖЕ В ЛЕГКОЙ ФОРМЕ НЕ СЛЕДУЕТ ОТПРАВЛЯТЬ В ЦЕНТР. ЭТО ОПАСНО НЕ ТОЛЬКО ДЛЯ ЗАБОЛЕВШЕГО, КОТОРЫЙ МОЖЕТ ПОЛУЧИТЬ ОСЛОЖНЕНИЕ ПРИ НЕСОБЛЮДЕНИИ РЕЖИМА, НО И
        ДЛЯ ДРУГИХ ДЕТЕЙ, КОНТАКТИРУЮЩИХ С БОЛЬНЫМ. НЕ СЛЕДУЕТ ЗАБЫВАТЬ, ЧТО НЕТ ТАКОГО ЗАБОЛЕВАНИЯ, КАК ПРОСТУДА. ЛЮБОЕ ОСТРОЕ РЕСПИРАТОРНОЕ ЗАБОЛЕВАНИЕ ВЫЗЫВАЕТСЯ ВИРУСОМ, КОТОРЫЙ ОПАСЕН ДЛЯ
        ОКРУЖАЮЩИХ.</p>
      <p>СПОРНЫЕ И КОНФЛИКТНЫЕ СИТУАЦИИ НУЖНО РАЗРЕШАТЬ В ОТСУТСТВИИ ДЕТЕЙ. ЕСЛИ ВЫ НЕ СМОГЛИ РЕШИТЬ КАКОЙ-ЛИБО ВОПРОС С ПЕДАГОГОМ ГРУППЫ, ОБРАТИТЕСЬ К КОРДИНАТОРУ ЦЕНТРА.</p>
      <p>ПРИ РАСТОРЖЕНИИ ДОГОВОРА В ОБЯЗАТЕЛЬНОМ ПОРЯДКЕ ЗА МЕСЯЦ УВЕДОМЛЯТЬ ОБ ЭТОГО КООРДИНАТОРА ЦЕНТРА В ПИСЬМЕННОМ ВИДЕ.</p>
      <p>НА ВРЕМЯ ЗАПЛАНИРОВАННОГО ОТСУТСТВИЯ (ОТПУСК, КОМАНДИРОВКИ И ДР.) НЕОБХОДИМО ПРЕДВАРИТЕЛЬНО НАПИСАТЬ ЗАЯВЛЕНИЕ С ЦЕЛЬЮ СОХРАНЕНИЯ СКИДОК, ЧТО, ОДНАКО, НЕ ЯВЛЯЕТСЯ ГАРАНТИЕЙ СОХРАНЕНИЯ
        МЕСТА ЗА РЕБЕНКОМ, ЕСЛИ ОНО НЕ ОПЛАЧЕНО.</p>
      <p>ЦЕНТР ЯВЛЯЕТСЯ ЧАСТНЫМ ЗАВЕДЕНИЕМ. АДМИНИСТРАЦИЯ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО ОТКАЗАТЬ КЛИЕНТУ В ПОСЕЩЕНИИ БЕЗ ОБЪЯСНЕНИЯ ПРИЧИН.</p>
      <p>ВОЗМОЖНО ПРИОБРЕТЕНИЕ АБОНЕМЕНТА НА СЛЕДУЮЩИЙ МЕСЯЦ ИЛИ СЕМЕСТР. ПРИОБРЕТЕНИЕ АБОНЕМЕНТА ПРОИЗВОДИТЬСЯ В ОПРЕДЕЛЁННЫЕ ДНИ (ПОСЛЕДНЯЯ ПЯТНИЦА МЕСЯЦА) С 10.00 ДО 17.00 (КООРДИНАТОР ЦЕНТРА).

      </p>
      <p>ЕСЛИ ЗАНЯТИЯ СВОЕВРЕМЕННО НЕ ОПЛАЧЕНЫ, АДМИНИСТРАЦИЯ ЦЕНТРА НЕ ГАРАНТИРУЕТ СОХРАННОСТИ МЕСТА В ГРУППЕ.</p>
      <p>ВСТУПИТЕЛЬНОГО ГОДОВОГО ВЗНОСА НЕТ.
    </div>
  </div>