<div class="container">

    <div class="row">
        <div class="col-md-12">


            <h2 class="heading-cascade heading-cascade--large heading-cascade--danger">
                <span class="heading-cascade__step"></span> правила внутреннего распорядка центра
            </h2>

            <p>мы обязаны предоставить эмоциональную стабильность во время занятий, а также защитить право педагогов полноценно проводить занятия без постороннего вмешательства для получения наилучшего
                результата в соответствии с выбранной центром методикой. поэтому во избежание каких-либо недоразумений просим вас придерживаться ниже изложенных правил.</p>

            <p>детские группы комплектуются</p>

            <p>
                <i class="fa fa-graduation-cap"></i> по возрасту (+/- несколько месяцев)
            </p>
            <p>
                <i class="fa fa-graduation-cap"></i> уровню подготовки
            </p>
            <p>
                <i class="fa fa-graduation-cap"></i> по желанию родителей
            </p>


            <p>к педагогам центра независимо от их возраста необходимо обращаться по имени и на «вы».</p>
            <p>родители обязаны предоставить координатору центра полную информацию о состоянии здоровья ребёнка (наличие диагнозов, принятие препаратов, прохождение лечения у медицинских специалистов и
                т.п.) во избежание недоразумений в процессе обучения.</p>









            <p>для достижения наилучших результатов сообщайте педагогу индивидуальные особенности ребенка, черты его характера и предпочтения.</p>
            <p>групповые занятия проводятся согласно расписанию (по предварительной записи), дети до 2-х лет - в сопровождении взрослого.</p>
            <p>за пропущенные по уважительной причине занятия предоставляется возможность изучения пропущенного учебного материала с детьми другой группы или индивидуально.</p>
            <p>время индивидуальных консультаций согласовывается с педагогом.</p>
            <p>на занятия дети должны приходить чистыми, опрятно одетыми, иметь при себе носовой платочек; влажные салфетки, обязательно в сменной обуви.</p>
            <p>не разрешается давать ребёнку на это время конфеты, печенье или газированные напитки (если нет для этого повода — например, дня рождения ребенка). жевательная резинка во время занятий —
                недопустима.</p>
            <p>просим вас проследить, чтобы в карманах ребенка не было острых, режущих и колющих предметов.</p>
            <p>в группе детям не разрешается бить и обижать друг друга; портить и ломать результаты труда других детей. детям не разрешается «давать сдачи», так же, как и нападать друг на друга. это
                требование продиктовано не только этикой поведения, но и соображениями безопасности каждого ребёнка.</p>
            <p>при неадекватном поведении ребенка (постоянный крик, агрессивные действия в отношении других детей) ребенок исключается из центра.</p>
            <p>при опоздании больше чем на 15 минут дети на занятия не допускаются во избежание нарушения структуры занятия и его эмоционального содержания. исключение составляют индивидуальные занятия.
                при опоздании на индивидуальные занятия их время не продлевается.</p>
            <p>на занятиях дети находятся без родителей за исключением развивающих занятий для малышей (с 1 до 3-х лет), где предполагается совместная работа взрослого и ребенка. исключением также
                являются индивидуальные консультации, где присутствие родителя необходимо. в ситуации, когда ребёнок боится оставаться без родителя во время первичного занятия, допускается присутствие
                родителя.</p>
            <p>во время занятия нельзя заглядывать в кабинет, отвлекать детей и педагогов. педагоги готовы беседовать с вами о вашем ребёнке до начала занятия, в перерыве или после окончания занятия.
                в другое время педагог обязан работать с группой детей и отвлекать его нельзя.</p>
            <p>родителям при заболевании ребенка даже в легкой форме не следует отправлять в центр. это опасно не только для заболевшего, который может получить осложнение при несоблюдении режима, но и
                для других детей, контактирующих с больным. не следует забывать, что нет такого заболевания, как простуда. любое острое респираторное заболевание вызывается вирусом, который опасен для
                окружающих.</p>
            <p>спорные и конфликтные ситуации нужно разрешать в отсутствии детей. если вы не смогли решить какой-либо вопрос с педагогом группы, обратитесь к кординатору центра.</p>
            <p>при расторжении договора в обязательном порядке за месяц уведомлять об этого координатора центра в письменном виде.</p>
            <p>на время запланированного отсутствия (отпуск, командировки и др.) необходимо предварительно написать заявление с целью сохранения скидок, что, однако, не является гарантией сохранения
                места за ребенком, если оно не оплачено.</p>
            <p>центр является частным заведением. администрация оставляет за собой право отказать клиенту в посещении без объяснения причин.</p>
            <p>возможно приобретение абонемента на следующий месяц или семестр. приобретение абонемента производиться в определённые дни (последняя пятница месяца) с 10.00 до 17.00 (координатор центра).

            </p>
            <p>если занятия своевременно не оплачены, администрация центра не гарантирует сохранности места в группе.</p>
            <p>вступительного годового взноса нет.
        </div>
    </div></div>s