
<div class="space"></div>

<div class="block" id="service-2">
  <section class="container">
    <h2 class="block-title editContent">
      <span class="block-title-color bg-color"></span>
    </h2>

    <div class="row">
      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-cloud"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">НЕМЕЦКИЙ ЯЗЫК ДЛЯ ДЕТЕЙ</h3>
          </a>


        </div>
      </div>
      <!-- end col -->

      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-users"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">КУРСЫ НЕМЕЦКОГО ЯЗЫКА</h3>
          </a>


        </div>
      </div>
      <!-- end col -->

      <div class="clearfix visible-xs"></div>

      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-smile-o"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">РУССКИЙ ЯЗЫК И ЛИТЕРАТУРА</h3>
          </a>


        </div>
      </div>
      <!-- end col -->

      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-rocket"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">ЕСТЕСТВОЗНАНИЕ ДЛЯ ДЕТЕЙ</h3>
          </a>


        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->


  </section>
  <!-- end container -->
</div>
<div class="block" id="service-2">
  <section class="container">


    <div class="row">
      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-cloud"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">МУЗЫКАЛЬНОЕ ИСКУССТВО</h3>
          </a>


        </div>
      </div>
      <!-- end col -->

      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-users"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">ВОКАЛЬНОЕ ИСКУССТВО</h3>
          </a>


        </div>
      </div>
      <!-- end col -->

      <div class="clearfix visible-xs"></div>

      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-smile-o"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">ЭСТРАДНО-ДЖАЗОВОЕ ИСКУССТВО</h3>
          </a>


        </div>
      </div>
      <!-- end col -->

      <div class="one-column col-xs-6 col-md-3">
        <div class="service service--center">
          <div class="icon icon icon--shape">
            <i class="icon__item icon-advanced fa fa-rocket"></i>
          </div>
          <a class="service__link" href="#">
            <h3 class="service__heading editContent">ИЗОБРАЗИТЕЛЬНОЕ ИСКУССТВО</h3>
          </a>


        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </section>
</div>
<div class="space"></div>
<div class="block"></div>

