
<div class="block" id="team">
  <section class="container">
    <h2 class="block-title editContent">
      Коллектив<span class="block-title-color bg-color"></span>
    </h2>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max image--border-hover">
                  <img src="images/tatarenko.jpg" alt="">
                </div>
              </div>images/irina.jpg
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Ирина Татаренко</h3>
                  <p class="staff__position">Директор центра</p>
                </div>
                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max image--border-hover">
                  <img src="images/staff/1.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Sara Ellis</h3>
                  <p class="staff__position">Project Manager</p>
                </div>
                <p class="post__text editContent">Sed in lacus adipiscing, dictum elit viverra, ultricies mi. Aliquam quis placerat massa. Mauris at augue erat.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link post--right staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Ирина Пульчева</h3>
                  <p class="staff__position">Руководитель отделения "Изобразительное искусство"</p>
                </div>
                <p class="post__text editContent">Ut eleifend a erat sed facilisis. Mauris laoreet vitae lorem eget aliquet. Nullam rhoncus nisi quis nulla lobortis consequat.</p>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max pull-right image--border-hover">
                  <img src="images/pulcheva.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link post--right staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Ирина Бранднер</h3>
                  <p class="staff__position">Преподаватель английского языка</p>
                </div>
                <p class="post__text editContent">Cras eget hendrerit nunc. Duis aliquet volutpat ligula, id posuere neque pulvinar et. Donec sodales condimentum condimentum.</p>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max pull-right image--border-hover">
                  <img src="images/brandner.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max image--border-hover">
                  <img src="images/staff/1.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Neal Caffrey</h3>
                  <p class="staff__position">Chief Executive Officer / CEO</p>
                </div>
                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max image--border-hover">
                  <img src="images/staff/2.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Sara Ellis</h3>
                  <p class="staff__position">Project Manager</p>
                </div>
                <p class="post__text editContent">Sed in lacus adipiscing, dictum elit viverra, ultricies mi. Aliquam quis placerat massa. Mauris at augue erat.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link post--right staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Clinton Jones</h3>
                  <p class="staff__position">WordPress Developer</p>
                </div>
                <p class="post__text editContent">Ut eleifend a erat sed facilisis. Mauris laoreet vitae lorem eget aliquet. Nullam rhoncus nisi quis nulla lobortis consequat.</p>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max pull-right image--border-hover">
                  <img src="images/staff/3.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link post--right staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Elizabeth Burke</h3>
                  <p class="staff__position">Web Designer</p>
                </div>
                <p class="post__text editContent">Cras eget hendrerit nunc. Duis aliquet volutpat ligula, id posuere neque pulvinar et. Donec sodales condimentum condimentum.</p>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max pull-right image--border-hover">
                  <img src="images/staff/4.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max image--border-hover">
                  <img src="images/staff/1.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Neal Caffrey</h3>
                  <p class="staff__position">Chief Executive Officer / CEO</p>
                </div>
                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max image--border-hover">
                  <img src="images/staff/2.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Sara Ellis</h3>
                  <p class="staff__position">Project Manager</p>
                </div>
                <p class="post__text editContent">Sed in lacus adipiscing, dictum elit viverra, ultricies mi. Aliquam quis placerat massa. Mauris at augue erat.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link post--right staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Clinton Jones</h3>
                  <p class="staff__position">WordPress Developer</p>
                </div>
                <p class="post__text editContent">Ut eleifend a erat sed facilisis. Mauris laoreet vitae lorem eget aliquet. Nullam rhoncus nisi quis nulla lobortis consequat.</p>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max pull-right image--border-hover">
                  <img src="images/staff/3.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->

      <div class="col-sm-12 col-md-6">
        <article>
          <a class="post post--preview-link post--right staff bg-color" href="#">
            <div class="row">
              <div class="one-column col-xs-6 col-md-5 col-lg-6">
                <div class="editContent">
                  <h3 class="staff__name">Elizabeth Burke</h3>
                  <p class="staff__position">Web Designer</p>
                </div>
                <p class="post__text editContent">Cras eget hendrerit nunc. Duis aliquet volutpat ligula, id posuere neque pulvinar et. Donec sodales condimentum condimentum.</p>
              </div>
              <!-- end col -->
              <div class="one-column col-xs-6 col-md-7 col-lg-6">
                <div class="image-container image-container--max pull-right image--border-hover">
                  <img src="images/staff/4.jpg" alt="">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </a>
        </article>
        <!-- end article -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    <div class="devider-brand">
      <span class="devider-brand-color bg-color"></span>
    </div>
  </section>
</div>
<

