<script type="text/javascript">




    $(function() {

        $('#programs').multiselect({
            enableFiltering: true,
            filterPlaceholder: 'Search for something...',
            buttonWidth: '100%',
            includeFilterClearBtn: false,
            nSelectedText: 'ausgewählt',
            nonSelectedText : 'bitte auswählen',
            inheritClass: true
        });

        $('#datepicker').datepicker({
            format: 'mm-dd-yyyy',
            startView: 2,
            autoclose: true
        });

        // validate contact form
        $('#contact').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true
                },
                answer: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "come on, you have a name don't you?",
                    minlength: "your name must consist of at least 2 characters"
                },
                email: {
                    required: "{%t contact.invalid_email %}"
                },
                message: {
                    required: "um...yea, you have to write something to send this form.",
                    minlength: "thats all? really?"
                },
                answer: {
                    required: "sorry, wrong answer!"
                }
            },
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    type:"POST",
                    data: $(form).serialize(),
                    url:"http://www.zentrumperfekt.at/process.php",
                    success: function() {
                        $('#contact :input').attr('disabled', 'disabled');
                        $('#contact').fadeTo( "slow", 0.15, function() {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor','default');
                            $('#success').fadeIn();
                        });
                    },
                    error: function() {
                        $('#contact').fadeTo( "slow", 0.15, function() {
                            $('#error').fadeIn();
                        });
                    }
                });
            }
        });
    });
</script>