<script type="text/javascript">




    $(function() {

        $('#programs').multiselect({
            enableFiltering: true,
            filterPlaceholder: 'поиск',
            buttonWidth: '100%',
            includeFilterClearBtn: false,
            nSelectedText: 'программы выбраны',
            nonSelectedText : 'пожалуйста, выберите курс (программу)',
            inheritClass: true
        });

        $('#datepicker').datepicker({
            format: 'mm-dd-yyyy',
            startView: 2,
            autoclose: true
        });

        // validate contact form
        $('#contact').validate({
            rules: {
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                birthDate: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "{%t contact.invalid_name %}"
                },
                email: {
                    required: "{%t contact.invalid_email %}"
                },
                birthDate: {
                    required: "{%t contact.invalid_birthDate %}"
                }
            },
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    type:"POST",
                    data: $(form).serialize(),
                    url:"http://www.zentrumperfekt.at/process.php",
                    success: function() {
                        $('#contact :input').attr('disabled', 'disabled');
                        $('#contact').fadeTo( "slow", 0.15, function() {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor','default');
                            $('#success').fadeIn();
                        });
                    },
                    error: function() {
                        $('#contact').fadeTo( "slow", 0.15, function() {
                            $('#error').fadeIn();
                        });
                    }
                });
            }
        });
    });
</script>