// colors

$color-1: #4e5e6a;
$color-2: #F1F4F9; 
$color-3: #e0cf75; // Chenin
$color-4: #f5b65a; // Casablanca
$color-5: #f25f5c; // Carnation
$color-6: #8abeb2; // Gulf Stream
$color-7: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lora', serif;

// animation

$animation-duration: 0.4s;