<!DOCTYPE html>
<html>
<head>{% include head.html %}
</head>
<body>

  <div class="wrapper" id="top">
  
  {% include header.html %}
  
  
<!--   <div class="site"> -->
<!--     <div class="sidebar" id="sidebar"> -->
<!--       <div class="header"> -->

<!--         <h1 class="title"> -->
<!--           <a href="/"><img id="logo" src="/images/logo.png"></a> -->
<!--         </h1> -->
<!--         <span class="tagline">{% t global.tagline %}</span> -->
<!--       </div> -->
<!--       <div class="posts"> -->
<!--         <ul class="posts-list"> -->
<!--           {% for post in site.posts %} -->
<!--           <li class="post-link"><a class="post-title" href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a></li> {% endfor %} -->
<!--         </ul> -->
<!--       </div> -->
<!--       <div class="footer"> -->
<!--         <span id="footer-links"> <a href="" class="footer-link">{% t global.about %}</a> <span class="separator">&bull;</span> <a href="" class="footer-link">{% t global.twitter %}</a> <span -->
<!--           class="separator">&bull;</span> <a href="" class="footer-link">{% t global.github %}</a> -->
<!--         </span> -->
<!--       </div> -->
<!--       {% tf footer.md %} <br /> <a class="link-it" href="{{ site.baseurl_root }}/">it</a> <a class="link-en" href="{{ site.baseurl_root }}/en">en</a> <a class="link-es" -->
<!--         href="{{ site.baseurl_root }}/es">es</a> -->
<!--     </div> -->

    {{ content }}
  
  {% include footer.html %}
  </div>
{% include scripts.html %}
</body>
</html>
